:host {
  display: flex;
  align-items: center;
  min-width: 250px;
  min-height: 25px;
  user-select: none;
  border-radius: 1.5rem;
  background: #c4f470;
}

.content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.add-button {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
