:host {
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 1.5rem;
  background: #daedbd;
  border: 1px solid #777777;
  box-shadow: 0 0 5px #9e9e9e;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  --background: #e8e8e8;
  --color: #777777;
  background: var(--background);
  border: 3px solid var(--color);

  &:hover {
    --color: #6d6d6d;
    --background: #c4c4c4;
  }
}
